<div class="blue-footer container">
  <div class="row">

    <div class="col-md-6 version">
      <br>QA Testing for Hyrax
      <div class="version">
        Hyrax Branch: <%= HYRAX_BRANCH %>
        <br>Hyrax Revision: <%= link_to HYRAX_BRANCH_REVISION, "https://github.com/samvera/hyrax/tree/#{HYRAX_BRANCH_REVISION}", class: "footer-link"  %>
      </div>
    </div>

    <div class="pull-right col-md-4" id="copyright">
      <span> &copy; <%= Date.today.year %> Samvera-Hyrax </span>
      <br> Nurax Version
      <div class="version">
        ENV: <%= Rails.env %>
        <br>SHA: <%= GIT_SHA %>
        <br>Branch: <%= BRANCH %>
        <br>Updated: <%= LAST_DEPLOYED %>
      </div>
    </div>
  </div>
</div>
